@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide number input arrows - Chrome, Edge, Safari */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide number input arrows - Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


.form-control[type="number"]::-webkit-inner-spin-button,
.form-control[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
