@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.pac-container {
  z-index: 2147483647 !important;
  position: fixed !important;
  pointer-events: auto !important;
}
